.pokemon-card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: 1px solid green;
    border-radius: 10px;
}

.pokemon-card img {
    width: 100%;
}
.card-container{
    display: grid;
    grid-template-columns: auto auto auto auto;

}